

.main {
    text-align: center;
    padding: 2rem;
    min-height:calc(42.4vh + 200px );

    h2 {
        margin-bottom: 0.8em;
    }

    .form {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        margin: 0 auto;
        padding: 3rem 0;

        div {
            display: flex;
            flex-direction: column;
            text-align: left;
            border: none;

            label {
                font-weight: 600;
                margin-bottom: 0.4em;
            }
            input {
                padding: 8px 15px;
                margin-bottom: 1.5rem;
                border-radius: 0;
                border: 1px solid #282c34;

                &[type="submit"] {
                    background-color: #61dafb;
                    border: 1px solid #61dafb;
                    color: #000;
                    transition: all .35s ease;
                    cursor: pointer;

                    &:hover {
                        background-color: #fff;
                        border-color: #282c34;
                    }
                }
            }
        }
    }

    .taskAreaClass{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 400px;
        margin: 0 auto;
        border-bottom: 1px solid #ccc;
        padding: 1rem;

        .details {
            text-align: left;

            h4 {
                font-size: 1.2rem;
                margin-bottom: 1rem;
            }
        }
        .actions {
            display: flex;
            align-items: center;
            flex-direction: column;

            i {
                margin-bottom: 0.5rem;
                font-size: 1.2rem;
                cursor: pointer;
                background-color: #282c34;
                color: #fff;
                padding: .4rem;

                &:hover {
                    color: #61dafb;
                }
            }
        }
    }
}