// MIXINS
@import "../mixins/mixins";

// VARIABLES
@import "../variables/variables";

// COMPONENTS
@import "../components/subtemplates/footer";
@import "../components/subtemplates/header";
@import "../components/form";
@import "../components/task";
@import "../components/modal";


.main {
    text-align: center;
    padding: 2rem;
    margin: auto 0;

    h2 {
        margin-bottom: 0.8em;
    }
}