.footer {
    margin-top: auto;
    height: 200px;
    background-color: $black--main-color;

    @include allCenter;

    span {
        font-weight: 600;
        color: $blue--main-color;
    }

    @media screen and (max-width:547px) {
        height: 100px;
    }
}